body {
    max-width: 100%;
    margin-top: 70px !important;
    /*background: #E1BEE7;*/
}

.navbar-collapse {
    overflow-x: auto;
}

.hidden {
    display: none;
}

#profile-data-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

#profile-image-navbar {
    height: 50px;
}

#edit-profile-submit-group {
    background-color: transparent;
    border: none;
}

form#edit-profile-form img#profile-image {
    max-width: 140px;
    max-height: 136px;
}

form#edit-profile-form img#cover-image {
}

#search-results {
    position: absolute;
    background-color: #F5F5F5;
    padding: 0;
}

#search-results > li {
    margin: 0;
}

#search-results > li > a {
    color: black;
}

.search-result-image {
    max-width: 60px !important;
    max-height: 60px;
}

ul > li {
    margin-left: 10px;
}

.delimiter {
    margin: 2px 0;
}