body {
    max-width: 100%;
    margin-top: 70px !important;
    /*background: #E1BEE7;*/
}

.navbar-collapse {
    overflow-x: auto;
}

.hidden {
    display: none;
}

#profile-data-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

#profile-image-navbar {
    height: 50px;
}

#edit-profile-submit-group {
    background-color: transparent;
    border: none;
}

form#edit-profile-form img#profile-image {
    max-width: 140px;
    max-height: 136px;
}


form#edit-profile-form img#cover-image {
}