<header user-header></header>

<div class="container" edit-user-controller>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
                <form class="form-horizontal" name="editPasswordForm" ng-submit="changePassword()">
                    <fieldset>
                        <legend>Change password</legend>
                        <!--username-->
                        <div class="form-group">
                            <label for="inputOldPassword" class="col-lg-2 control-label">Old password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputOldPassword" ng-model="passwordData.oldPassword"
                                       name="inputOldPassword" placeholder="Old password" ng-minlength="6" required>
                                <span class="label label-danger" ng-show="editPasswordForm.inputOldPassword.$error.minlength">
                                    Must be at least 6 symbols!
                                </span>
                            </div>
                        </div>
                        <!--password-->
                        <div class="form-group">
                            <label for="inputNewPassword" class="col-lg-2 control-label">New password: </label>
                            <div class="col-lg-10">
                                <input type="password" ng-model="passwordData.newPassword" equals="{{passwordData.confirmPassword}}" ng-minlength="6"
                                       class="form-control" id="inputNewPassword" name="inputNewPassword" placeholder="Password" required>
                                <span class="label label-danger" ng-show="editPasswordForm.inputNewPassword.$error.minlength">
                                    Must be at least 6 symbols!
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm password: </label>
                            <div class="col-lg-10">
                                <input type="password" ng-model="passwordData.confirmPassword" equals="{{passwordData.newPassword}}"
                                       class="form-control" id="inputConfirmPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <!--submit-->
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button type="submit" ng-disabled="editPasswordForm.$invalid" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>