<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
                <form class="form-horizontal" ng-submit="changePassword()">
                    <fieldset>
                        <legend>Change password</legend>
                        <!--username-->
                        <div class="form-group">
                            <label for="inputOldPassword" class="col-lg-2 control-label">Old password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputOldPassword" ng-model="passwordData.oldPassword" placeholder="Old password" required>
                            </div>
                        </div>
                        <!--password-->
                        <div class="form-group">
                            <label for="inputNewPassword" class="col-lg-2 control-label">New password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputNewPassword" ng-model="passwordData.newPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputConfirmPassword" ng-model="passwordData.confirmPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <!--submit-->
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>