<header guest-header></header>

<main class="container" user-controller>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
                <form class="form-horizontal" ng-submit="login()" name="loginForm">
                    <fieldset>
                        <legend>Login</legend>
                        <!--username-->
                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-2 control-label">Username: </label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputUsername"
                                       ng-model="user.username" placeholder="Username" required>
                            </div>
                        </div>
                        <!--password-->
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password: </label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                                       ng-model="user.password" ng-minlength="6" ng-maxlength="100"
                                       placeholder="Password" required>
                                <span class="label label-danger" ng-show="loginForm.inputPassword.$error.minlength">Too short!</span>
                            </div>
                        </div>
                        <!--submit-->
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-info">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>