<header guest-header></header>

<main class="container" user-controller>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
                <form class="form-horizontal" name="registerForm" ng-submit="register(user)">
                    <fieldset>
                        <legend>Register</legend>
                        <!--username-->
                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input ng-model="registerUserData.username" type="text" class="form-control" id="inputUsername" placeholder="Username" required>
                            </div>
                        </div>
                        <!--password-->
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input ng-model="registerUserData.password" equals="{{registerUserData.confirmPassword}}" ng-minlength="6"
                                       type="password" class="form-control" id="inputPassword"  name="password"
                                       placeholder="Password" required>
                                <span class="label label-danger" ng-show="registerForm.password.$error.minlength">
                                    Must be at least 6 symbols!
                                </span>
                            </div>
                        </div>
                        <!--confirm password-->
                        <div class="form-group">
                            <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                            <div class="col-lg-10">
                                <input ng-model="registerUserData.confirmPassword" equals="{{registerUserData.password}}"
                                       type="password" class="form-control" id="inputConfirmPassword"
                                       placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <!--name-->
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input ng-model="registerUserData.name" type="text" class="form-control"
                                       id="inputName" placeholder="Name" required>
                            </div>
                        </div>
                        <!--email-->
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input ng-model="registerUserData.email" type="text" class="form-control" id="inputEmail" placeholder="Email" required>
                            </div>
                        </div>
                        <!--gender-->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Gender</label>
                            <div class="col-lg-10">
                                <label class="radio-inline">
                                    <input ng-model="registerUserData.gender" type="radio" name="gender" value="Male" required>
                                    Male
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="registerUserData.gender" type="radio" name="gender" value="Female" required>
                                    Female
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="registerUserData.gender" type="radio" name="gender" value="Other" required>
                                    Other
                                </label>
                            </div>
                        </div>
                        <!--submit-->
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>