<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Social Network</a>
    </div>

    <ul class="nav navbar-nav">
        <li>
            <a href="#/" ng-click="logout()" data-toggle="tooltip" data-placement="bottom" title="Logout">
                <span class="fa fa-sign-out fa-2x"></span>
            </a>
        </li>
    </ul>

    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" id="search-field">
            <label class="fa fa-search control-label" for="search-field"></label>
        </div>
    </form>
</div>