<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Social Network</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/" ng-click="" data-toggle="tooltip" data-placement="bottom" title="Friend requests">
                <span class="fa fa-user-plus fa-2x"></span>
            </a>
        </li>
        <li>
            <a href="#/settings/edit/profile/" ng-click="" data-toggle="tooltip" data-placement="bottom" title="Edit profile">
                <span class="fa fa-cogs fa-2x"></span>
            </a>
        </li>
        <li>
            <a href="#/settings/edit/password/" ng-click="" data-toggle="tooltip" data-placement="bottom" title="Change password">
                <span class="fa fa-key fa-2x"></span>
            </a>
        </li>
        <li>
            <a href="#/" ng-click="logout()" data-toggle="tooltip" data-placement="bottom" title="Logout">
                <span class="fa fa-sign-out fa-2x"></span>
            </a>
        </li>
    </ul>

    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Find..." id="search-field">
            <label class="fa fa-search control-label" for="search-field"></label>
        </div>
    </form>
</div>