<div class="well" id="newsfeed-container">
    <h1>News feed:</h1>
    <div infinite-scroll="getNewsFeed()">
        <ul class="media-list">
            <li ng-repeat="post in posts" class="media">
                <div class="well post-container">
                    <div class="media-left">
                        <a href="#/users/{{post.author.name}}">
                            <img ng-src="{{post.author.profileImageData}}" default-image="{{defaultImage}}"
                                 class="media-object post-author-image" alt="Profile Image">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading post-header">
                            <a href="#/users/{{post.author.name}}" >{{post.author.name}}</a>
                            <span>posted on </span>
                            <a href="#/users/{{post.wallOwner.name}}">{{post.wallOwner.name}}</a>
                            <span>'s wall</span>
                        </h4>
                        <div class="post-date">{{post.date | date: "HH:mm, dd MMM, yy"}}</div>
                        <p>{{post.postContent}}</p>
                        <div>
                            <a href="" ng-if="!post.liked" ng-click="likePost(post)">Like</a>
                            <a href="" ng-if="post.liked" ng-click="unlikePost(post)">Unlike</a>
                            <span class="fa fa-thumbs-o-up"></span>
                            <span>{{post.likesCount}}</span>
                        </div>
                        <hr class="no-top-margin"/>
                        <div>
                            <form user-controller class="form-horizontal" ng-submit="addCommentToPost(post)" name="commentForm">
                                <div class="add-comment-container">
                                    <img ng-src="{{me.profileImage}}" default-image="{{defaultImage}}" alt="Profile image"
                                         class="add-comment-image"/>
                                    <textarea ng-model="newComment[post.id]" class="comment-input"></textarea>
                                    <button class="add-comment-button">Add</button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Nested media object -->
                        <div>
                            <span>Total comments: {{post.totalCommentsCount}}</span>
                            <span ng-if="post.totalCommentsCount > post.comments.length
                            ">
                                <a href="" ng-click="getPostComments(post)">View All</a>
                            </span>
                            <span ng-if="commentsViews.indexOf(post.id) > -1">
                                <a href="" ng-click="getPostCommentsPreview(post)">View Less</a>
                            </span>
                        </div>
                        <div ng-repeat="comment in post.comments" class="media">
                            <div class="media-left">
                                <a href="#/users/{{comment.author.name}}">
                                    <img ng-src="{{comment.author.profileImageData}}" default-image="{{defaultImage}}"
                                         class="media-object comment-author-image" alt="Profile Image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading comment-header">
                                    <a href="#/users/{{comment.author.name}}">{{comment.author.name}}</a>
                                </h4>
                                <div class="comment-date">{{comment.date | date: "HH:mm, dd MMM, yy"}}</div>
                                <p>{{comment.commentContent}}</p>
                                <div>
                                    <a href="" ng-if="!comment.liked" ng-click="likeComment(post, comment)">Like</a>
                                    <a href="" ng-if="comment.liked" ng-click="unlikeComment(post, comment)">Unlike</a>
                                    <span class="fa fa-thumbs-o-up"></span>
                                    <span>{{comment.likesCount}}</span>
                                    <hr class="no-top-margin no-bottom-margin"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


