html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

section {
  /*width: 350px;*/
  margin: 5px;
  overflow: auto;
}

  form {
    float: left;
    width: 350px;
    margin-right: 50px;
  }

  .message {
    background-color: #F1F1F1;
    color: #23222C;    
    margin: 1px;
    margin-bottom: 10px;
    width: 550px;
  }

  .category {
    font-weight: 800;
    color: #F85959;
  }

  input {
    background-color: #F1F1F1;
    color: #23222C;
    border: 1px solid #F85959;
    margin-bottom: 10px;
  }

  input[type=text] {
    width: 78%;
  }

  input[type=submit] {
    float: right;
  }

  label {
    display: inline-block;
    width: 20%;
    text-align: right;
  }

  .sidebar {
    float: left;
  }

   .sidebar .navigation {
    border-radius: 10px;
    border: 1px solid #F85959;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F1F1F1;
   }

    .sidebar .navigation .sidebar-header {
      border-bottom: 1px solid #F85959;
      margin-bottom: 5px;
    }

      .sidebar .navigation > ul > li {
        list-style: none;
        margin: 3px;
      }

        .sidebar .navigation > ul > li > a {
          color: #F85959;
        }



